@page "/fetchdata"
@using Wepshop.Classes
@inject HttpClient _http

<h1>El Niño Vegano Shoppo</h1>
<input @bind="_param"/>
<button class="btn btn-outline-success" @onclick="Search">Søg</button>
<hr/>

@if (_products == null)
{
    <H3>
            <em>No products were found ...</em>
    </H3>
}
else
{
    <div class="card-deck">
        @foreach (var prod in _products)
        {
            <div class="col-sm-4">
                <div class="card my-4">
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title">@prod.Name</h5>
                                <p class="card-text">@prod.Category</p>
                                <p class="card-text">@prod.Price kr</p>
                                @if (prod.Vendor != "")
                                {
                                    <p class="card-text">@prod.Vendor</p>
                                }
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="img/products/@prod.SKU" alt="@prod.Name"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-info">
                            Se mere
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a class="btn btn-success">
                            Tilføj til kurv
                            <i class="fas fa-shopping-basket"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    // private ProductDTO[] _products;
    private List<ProductDTO> _products;
    private string _param;

    private async Task Search()
    {
        try
        {
            _products = await _http.GetFromJsonAsync<List<ProductDTO>>($"https://192.168.236.142:5001/Shop/Products?search={_param}");
        }
        catch (Exception e)
        {
            _products = null;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        _products = await _http.GetFromJsonAsync<List<ProductDTO>>($"https://192.168.236.142:5001/Shop/Products?search={_param}");
    }
}