@page "/FindOrder"
@using Wepshop.Classes
@using System.Net
@inject HttpClient _http

<h3>Search for order</h3>
Type order ID: <input @bind-value="_order" @bind-value:event="oninput" @onkeyup="Search"/>

<p>@DebugMsg</p>
@if (_orderResult != null)
{
    <p>Welcome back @_orderResult.Customer.name! Your order details are:</p>
    <table class="table table-striped">
        <thead>
        <th>Product:</th>
        <th>Price:</th>
        <th>Amount:</th>
        <th>Total price:</th>
        </thead>
        @foreach (var item in _orderResult.Items)
        {
            <tr>
                <td>@_products.FirstOrDefault(p => p.Id == @item.product)?.Name</td>
                <td>@($"{_products.FirstOrDefault(p => p.Id.Equals(item.product)).Price:C}")</td>
                <td>@item.amount</td>
                <td>@($"{item.linePrice:C}")</td>
            </tr>
        }
        <tfoot>
        <th></th>
        <th></th>
        <th class="text-right">Total:</th>
        <th>@($"{_orderResult.Items.Sum(a => a.linePrice):C}")</th>
        </tfoot>
    </table>
}

@code {
    private string _order { get; set; }
    private OrderDTO _orderResult { get; set; }
    private string DebugMsg { get; set; }
    private List<ProductDTO> _products { get; set; }
    
    [CascadingParameter]
    protected MainLayout MainLayout { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _products = await _http.GetFromJsonAsync<List<ProductDTO>>($"/Shop/Products");
    }
    
    private async void Search()
    {
        if (_order.Length > 7)
        {
            var response = await _http.GetAsync($"/Shop/Orders?guid={_order}");
            // DebugMsg = response.ToString();
            if (response.StatusCode == HttpStatusCode.OK)
            {
                // DebugMsg = await _response.Content.ReadAsStringAsync();
                _orderResult = await _http.GetFromJsonAsync<OrderDTO>($"/Shop/Orders?guid={_order}");
            }
            else
            {
                DebugMsg = $"Sorry, but we couldn't find any order matching the order ID {_order} *sadface*";
                _orderResult = null;
            }
        }
        else
        {
            DebugMsg = "You have to input all 8 chars of your order ID";
            _orderResult = null;
        }
    }
}